html{ 
    font-size: 25px;
    font-family:"Open Sans",sans-serif;}
#h1_0001{
    max-width: 1900px;
    max-height: 1000px;
    min-width: 185px;
    min-height: 50px;
    margin: 10px;
    font-size: clamp(25px, 10vw, 60px);
    text-align: center;
    border: 7.5px solid red;
    border-radius: 10px;
    padding: 1%;
    background-color: lightblue;
    :hover {color: red;};}
.h2_class, .h4_class, .p_class, .h3_class, .button_class{
    margin-left: 10px;}
#h1_0001:hover {
    color: red;}
h2{
    font-size: 40px;}
h2, h3, h4, p{
    color : white;}
body{
    background-image: url(fundo.png);
    background-repeat : no-repeat;
    background-attachment : fixed;
    background-size : cover;}
#img_0001{
    width: 35%;
    height: 35%;
    max-width: 500px; 
    max-height: 600px;
    min-width: 250px;
    min-height: 300px;}
#div_0001{            
    background-color: black;
    border: 5px solid white;}
@media screen and (min-width: 800px){
    #div_0001{
        border: 10px solid red;};
    #h1_0001{
    font-size: clamp(45px, 20vw, 150px)};
}
h2,h3{
        text-align : left;}
.button_class{
    width: 35%;
    height: 30%;
    max-width: 200px; 
    max-height: 700px;
    min-width: 125px;
    min-height: 65px;}
#button_0001{
    margin: 5px;
    text-align: center;
    color: white;
    font-size: clamp(18.5px, 5vw, 25px);
    border: 7.5px solid red;
    border-radius: 12.5px;
    background-color: lightblue;
    :hover{color: red};}
