html{ 
font-size: 25px;
font-family:"Open Sans",sans-serif;
}

h1{
font-size: 60px;
text-align: center;
color : white;
background-color: rgba(0, 0, 0, 0.5);
width: 100;
height: 100;
}

h1:hover {
color: red;
};

h2{
font-size: 25px;
}

h2, h3, h4{
color : white;
}

body{
background-image: url(fundo.png);
background-repeat : no-repeat;
background-attachment : fixed;
background-size : cover;
}

#div_0002 {
    background-color: white;
    color : black;
    padding : 15px;    
}

#div_0003 {
    background-color: rgba(0, 0, 0, 0.8);
    color : white;
    padding : 15px;    
}



.container {
    background-color : black;
    margin: 1em 2em;
    border: 5px solid white;
    padding : 5px;
}


@media screen and (min-width: 800px) {
    .container {
        background-color: black;
        border: 8px dotted red;
        padding : 10px 5 px;
    }

    h1:hover {
        color : red;
    }

    h2,h3 {
        text-align : left;
    }
        
}
